html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}

.fondo{
    background-color: black;  
}
h1{
    color: white;
}

.btn {
    color: white;
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    width: 25rem;
    position: absolute;
    left: 38%;
    top: 50%;
   
}

.btn:hover {
    cursor: pointer;
    color: rgb(189, 192, 28);
}
.img{
    padding: 10px;
    
}
.contenedor{
    width: 190rem;
    text-align: center;
    padding: 5rem;
}
